html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
    line-height: 1.8;

}

a {
    text-decoration: none;

}

h1, h2, h3 {
    text-align: center; 
}

h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.4rem;

}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.6rem;
}


