{% load static  %}


{% for post in posts %}

<div class="light shadow p-3 mb-5 bg-body rounded mt-5 wo-p">

    <div class="col ps-5 center-elements letf-elements py-3 ">
            <a href="{% url 'profile:follow_profile' post.user.username post.user.slug %}" class="img-user">
            {% if post.user.picture.url %}
                <img src="{{ post.user.picture.url }}" alt="" > 
            {% endif %}
            </a>
            <div class="direct-user"> <a href="{% url 'profile:follow_profile' post.user.username post.user.slug %}" class="">{{post.user.username}}</a></div>
            

            {% if request.user != post.user %}
                <form action="{% url 'profile:add_follow' %}" method="POST" class="follow-btn me-3">
                    {% csrf_token %}
                    
                    {% if post.user not in user.follow.all %}
                        <button type="submit" name="following_user_id" value="{{post.user.id}}" class=" btn btn-primary">Unfollow</button>
                    {% else %}
                        <button type="submit" name="following_user_id" value="{{post.user.id}}" class=" btn btn-outline-primary">Follow</button>
                    {% endif %}    
                </form>
            {% else %}
                <div class="dropdown acction-post">
                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-three-dots"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="{% url 'post:update' post.slug %}">Update</a></li>
                        <li><a class="dropdown-item" href="{% url 'post:delete' post.slug %}">Delete</a></li>
                    </ul>
                </div>
                
            {% endif %}

            
</form>                             
    </div>

    <div class="col img-user-post">
        {% if post.user.picture.url %}      
            <a href="{% url 'post:post' post.slug %}">
                <img src="{{ post.picture.url }}" >
            </a>
        {% endif %}
    </div>
    <div class="col ps-5 py-3 post-icon div-row ">
        
        <form action="{% url 'post:like_post' %}" method="POST" class="me-3">
            {% csrf_token %}
            {% if user not in post.liked.all %}
                <button type="submit" name="post_id" value="{{post.id}}" class="like"><i class="bi bi-heart"></i></button>
            {% else %}
                <button type="submit" name="post_id" value="{{post.id}}" class="like"><i class="bi bi-heart-fill"></i></button>
            {% endif %}
        </form>
        {% if  post.liked.all.count > 0 %}
        <p class="me-3"><strong>{{post.liked.all.count}}</strong>  Likes</p>
           
        {% endif %}

        <i class="bi bi-chat me-3"></i>
    </div>
    <div class="post-description px-5">
        <p><span class="fw-bolder">{{post.user.username}}</span> {{post.description}}</p>
        <p class="text-muted post-date" > {{post.created_at | date:"d F" }} </p>
    </div>
    <hr class="my-2">
    <div class="py-4">
        <form>
            <div class="comments px-5 py3">
            <input type="text"  id="id_comment" placeholder="Add a comments">
            <button type="submit" class="">Submit</button>
            </div>
        </form>
    </div>

</div>
{% endfor %}
