{% extends 'layout.html' %}

{% load static  %}

{% block container %}

        <div class="sticky-top">
            {% include 'nav_bar.html' %}
        </div>

        <div class="container container-index ">
            <div class="row">
                
                <div class="col-8 wo-p">
                    {% include 'feed.html'%}
                </div>

                <div>
                    {% include 'later_bar.html' %}
                </div>
            </div>      
        </div>
    
{% endblock container %}
