{% load static  %}

<div class="col-4 nav-side  mt-5 sticky">
    <div class="col ps-5 center-elements letf-elements py-3 user-side">
        <a href="#" class="img-user ">
            <img src="{% static 'img/profiles_pictures/profile1.jpg' %}"alt="" > 
        </a>
        <div class="">
            <a href="#" class="direct-user fw-bolder">Rubi Rs</a>                               
            <p class="text-muted post-date">Rubi Ramirez</p>                         
        </div>
    </div>   
</div>